# =========================================================
# Unity (.gitignore)
# Repository Root : HK-INDIE-GO
# Unity Project   : private/INDIE-GO-Unity
# =========================================================

# Unity generated folders
.utmp/
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

*.log

# Blender
*.blend1
*.blend1.meta

# Memory Captures
[Mm]emoryCaptures/

# Recordings
[Rr]ecordings/

# Asset Store Tools
# [Aa]ssets/AssetStoreTools*

# Rider
[Aa]ssets/Plugins/Editor/JetBrains*
*.DotSettings.user

# Visual Studio
.vs/
.gradle/

# Visual Studio / Mono
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Generated meta
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Crash reports
sysinfo.txt
mono_crash.*

# Build outputs
*.apk
*.aab
*.app
*.unitypackage
*.unitypackage.meta

crashlytics-build.properties

# Test Runner
InitTestScene*.unity*

# Addressables
ServerData
[Aa]ssets/StreamingAssets/aa*
[Aa]ssets/AddressableAssetsData/link.xml*
[Aa]ssets/Addressables_Temp*
[Aa]ssets/AddressableAssetsData/*/*.bin*

# Visual Scripting
[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db
[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db.meta
[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers
[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers.meta

# Auto-generated test scenes
[Aa]ssets/[Ii]nit[Tt]est[Ss]cene*.unity*

# =========================================================
# Repository specific
# =========================================================

# Ignore repository build outputs
/public/builds/